<!-- <h1>Actors#index</h1>
<p>Find me in app/views/actors/index.html.erb</p> -->


<h1>Actors</h1>

<ul>
  <% @actors.each do |actor| %>
  <li><%= link_to "#{actor.name}", actor %></li>
  <% end %>
</ul>

<%= link_to "Add Actor", new_actor_path, :class=>"btn btn-success btn-lg" %>
<hr>
<%= link_to "Return to Homepage", root_path, :class=>"btn btn-primary btn-lg"   %>