<center>
<div class="box">
<h1 class="smcap">Actors</h1>


  <% @actors.each do |star| %>
  <h3 class="list"><%= link_to star.name, actor_path(star) %></h3>
  <% end %>


<%= link_to "Add new actor", new_actor_path, :class=>" leftmar btn btn-success btn-large"%>
<br><br>
<%= link_to "Back to home", root_path, :class=>" leftmar btn btn-primary btn-large" %>

</center>
</div>