<h1>Movies</h1>

<ul>
  <% @movies.each do |film| %>
  <li><%= link_to "#{film.title} (#{film.year})", film %></li>
  <% end %>
</ul>

<%= link_to "Add movie", new_movie_path, :class=>"btn btn-success btn-lg"  %>
<hr>
<%= link_to "Return to Homepage", root_path, :class=>"btn btn-primary btn-lg"  %>
