<!-- <img src="/nsa_header.jpg" alt="nsa header"> -->
<div class="film jumbotron">
<center>
<h1 class="smcap">
Actors and Movies
<br>
Database
</h1>
<h3 class="smcap lgfont">
  Browse by
<br>
<br>
  <%= link_to "Actors", actors_path, :class=>" leftmar btn btn-primary btn-large"%>
  or
  <%= link_to "Movies", movies_path, :class=>" leftmar btn btn-primary btn-large"%>
</h3>
</center>
</div>