<!-- <img src="/nsa_header.jpg" alt="nsa header"> -->
<div class="film jumbotron">
<center>
<h1 class="ls bdmi">
B            D            M            I
</h1>
<h1 class="smcap">
<hr>  
Base of Data for Movies
<br>
on the Internet

</h1>
<h3 class="smcap lgfont">
  Browse by
<br>
<br>
  <%= link_to "Actors", actors_path, :class=>" leftmar btn btn-primary btn-large"%>
  or
  <%= link_to "Movies", movies_path, :class=>" leftmar btn btn-primary btn-large"%>
</h3>
</center>


</div>
<h3><%= link_to "Logout", logout_path, method: "delete", :class=>" marginbtn btn-primary btn-large" %></h3>